h1 {
  color:rgb(15, 29, 223);
  text-shadow: 1px 2px 2px;
  text-align: center;
}

div.galeria {
  margin: 10px 20px;
  box-shadow: 0 4px 8px lightcoral;
  float: left;
  width: 350px;
}

div.galeria img {
  width: 100%;
  height: auto;
}

div.galeria:hover {
  border: 1px solid lightblue;
}

div.pie {
  text-align: center;
  text-shadow: 2px 2px 5px purple;
  padding: 3px;
}
